{% extends "base.html" %} 
{% block title %} Tradbook {% endblock %} 
{% block content %}

<!-- Table 3: Close Trades Data -->
<table class="border-collapse w-full">
  <thead>
    <tr>
      <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Date</th>
      {% for tablecol in [
          "ID",
          "Symbol",
          "Buy Price",
          "Sell Price",
          "PnL",
          "Buy Datetime",
          "Sell Datetime",
          "Quantity"
      ] %}
      <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
        {{ tablecol }}
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% if tradbook %}
    {% for trade in tradbook %}
    <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10" id="tradeRow{{ trade['ID'] }}">
      <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Date</span>
        {{ trade['Date'] }}
      </td>
      <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">ID</span>
        {{ trade['ID'] }}
      </td>
      <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Symbol</span>
        {{ trade['Symbol'] }}
      </td>
      <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Buy Price</span>
        {{ trade['Buy Price'] }}
      </td>
      <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Sell Price</span>
        {{ trade['Sell Price'] }}
      </td>
      <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">PNL</span>
        {% if  trade['PnL'] >= 0 %}
        <span class="rounded bg-green-400 py-1 px-3 text-xs font-bold">{{ trade['PnL'] }}</span>
        {% else %}
        <span class="rounded bg-red-400 py-1 px-3 text-xs font-bold">{{ trade['PnL'] }}</span>
        {% endif %}
      </td>
      <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Buy Datetime</span>
        {{ trade['Buy Datetime'] }}
      </td>
      <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Sell Datetime</span>
        {{ trade['Sell Datetime'] }}
      </td>
      <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Quantity</span>
        {{ trade['Quantity'] }}
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10">
      <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static" colspan="10">
        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Date</span>
        <div class="flex justify-center">
          <span>----- No data available. -----</span>
        </div>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>


{% endblock %}
