{% extends "base.html" %}
{% block title %}Parameters{% endblock %}
{% block content %}

<div class="flex items-center justify-center p-5">
    <div class="w-1/3 bg-gray-300 h-px"></div>
    <span class="px-4 text-gray-500">Strategy Status</span>
    <div class="w-1/3 bg-gray-300 h-px"></div>
  </div>


{% if strategies_results %}
<table class="table-auto w-full bg-white rounded-lg shadow-md">
    <thead>
        <tr class="bg-gray-200">
            <th class="px-4 py-2">Index Name</th>
            {% for column in column_names %}
            <th class="px-4 py-2">{{ column.replace('_', ' ').capitalize() }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for index, data in strategies_results.items() %}
        <tr class="bg-white border-b">
            <td class="px-4 py-2">{{ index }}</td>
            {% for column in column_names %}
            <td class="px-4 py-2">{{ data[column] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No strategies results available.</p>
{% endif %}




<div class="flex items-center justify-center p-5">
    <div class="w-1/3 bg-gray-300 h-px"></div>
    <span class="px-4 text-gray-500">Overview Status</span>
    <div class="w-1/3 bg-gray-300 h-px"></div>
  </div>

<div class="log-container bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
    <pre class="log-content">
    {{ get_overview | safe }}
    </pre>
</div>
{% endblock %}
