 {% extends "base.html" %}
 {% block title %} Update Trade {% endblock %}
 {% block content %}
 
 
 
 {% if orderData%}
 <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2 scroll">
     <h1 class="p-4 pb-8 text-xl text-center">
         Order Edit [{{ orderData['order_id'] }}]
     </h1>
     <form method="POST">
         <div class="-mx-3 md:flex flex-wrap mb-2">
 
             <div class="md:w-1/4 px-3 mb-6 md:mb-0">
                 <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="stoploss_price">
                     Current SL [{{ orderData['stoploss_price'] }}]
                 </label>
                 <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red rounded py-3 px-4 mb-3"
                     id="stoploss_price" name="stoploss_price" type="number" placeholder="{{ orderData['stoploss_price'] }}" />
             </div>
 
             <div class="md:w-1/4 px-3 mb-6 md:mb-0">
                 <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="target_price">
                     Current Target [{{ orderData['target_price'] }}]
                 </label>
                 <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red rounded py-3 px-4 mb-3"
                     id="target_price" name="target_price" type="number" placeholder="{{ orderData['target_price'] }}" />
             </div>
 
         </div>
         <div class="flex justify-center">
             <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
                 Update
             </button>
         </div>
     </form>
 </div>
 {% else %}
 blank
 {%endif%}
 
 {% endblock %}
 
